In [1]:
import numpy as np
import pandas as pd
import pylab as pl
import matplotlib.pyplot as plt
plt.style.use('ggplot')
%matplotlib inline
import seaborn as sns

In [2]:
df=pd.read_csv("ORGANICS.csv",encoding="cp1251") 
print(df.shape)  
print(df.info())

(22223, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22223 entries, 0 to 22222
Data columns (total 13 columns):
ID                 22223 non-null int64
DemAffl            21138 non-null float64
DemAge             20715 non-null float64
DemCluster         21549 non-null float64
DemClusterGroup    21549 non-null object
DemGender          19711 non-null object
DemReg             21758 non-null object
DemTVReg           21758 non-null object
PromClass          22223 non-null object
PromSpend          22223 non-null float64
PromTime           21942 non-null float64
TargetBuy          22223 non-null int64
TargetAmt          22223 non-null int64
dtypes: float64(5), int64(3), object(5)
memory usage: 2.2+ MB
None

In [3]:
df = df.fillna(df.median(axis=0), axis=0)

In [4]:
df1 = df.dropna()
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18696 entries, 0 to 22221
Data columns (total 13 columns):
ID                 18696 non-null int64
DemAffl            18696 non-null float64
DemAge             18696 non-null float64
DemCluster         18696 non-null float64
DemClusterGroup    18696 non-null object
DemGender          18696 non-null object
DemReg             18696 non-null object
DemTVReg           18696 non-null object
PromClass          18696 non-null object
PromSpend          18696 non-null float64
PromTime           18696 non-null float64
TargetBuy          18696 non-null int64
TargetAmt          18696 non-null int64
dtypes: float64(5), int64(3), object(5)
memory usage: 2.0+ MB
None

In [5]:
df = df.fillna(df.median(axis=0), axis=0)

In [6]:
x = df[['DemAffl',  'DemAge', 'DemCluster', 'PromSpend', 'PromTime']]
y = df.values[::,11]
y = y.astype('int')

In [8]:
from sklearn.model_selection import train_test_split 
    # X-data, y-labels
X_train, X_test , y_train, y_test = train_test_split(x, y, test_size=0.3) 

y_train = y_train.astype(int)
y_test = y_test.astype(int)

In [9]:
from sklearn.tree import DecisionTreeClassifier 
tree=DecisionTreeClassifier(max_depth=4, random_state=0) 
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=4,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [13]:
from sklearn.tree import export_graphviz

import subprocess

export_graphviz(tree, out_file='Organics_tree.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True)

In [17]:
import pydot

In [23]:
(graph, ) = pydot.graph_from_dot_file('Organics_tree.dot')

In [29]:
graph.write_png('Organics_tree.png')

In [30]:
tree.score(X_train, y_train)

0.803291334533299

In [31]:
tree.score(X_test,y_test)

0.791960401979901

In [33]:
df

,ID,DemAffl,DemAge,DemCluster,DemClusterGroup,DemGender,DemReg,DemTVReg,PromClass,PromSpend,PromTime,TargetBuy,TargetAmt
0,140,10.0,76.0,16.0,C,U,Midlands,Wales & West,Gold,16000.00,4.0,0,0
1,620,4.0,49.0,35.0,D,U,Midlands,Wales & West,Gold,6000.00,5.0,0,0
2,868,5.0,70.0,27.0,D,F,Midlands,Wales & West,Silver,0.02,8.0,1,1
3,1120,10.0,65.0,51.0,F,M,Midlands,Midlands,Tin,0.01,7.0,1,1
4,2313,11.0,68.0,4.0,A,F,Midlands,Midlands,Tin,0.01,8.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22218,52834058,13.0,65.0,9.0,B,F,South East,London,Silver,1500.00,5.0,0,0
22219,52834376,15.0,73.0,34.0,D,U,South East,S & S East,Gold,6053.06,12.0,0,0
22220,52837057,9.0,70.0,15.0,B,F,North,Yorkshire,Gold,6000.00,5.0,0,0
22221,52838096,11.0,66.0,8.0,B,F,North,N West,Silver,5000.00,5.0,0,0
22222,52856469,3.0,75.0,53.0,F,NaN,South West,S West,Gold,6000.00,2.0,0,0

1.Обучите решающее дерево с параметрами criterion = entropy и max_depth =5.  Какую точность дает данное дерево на контроле? Визуализируйте разделяющую поверхность.

In [34]:
tree = DecisionTreeClassifier(criterion = 'entropy', max_depth = 5)
tree.fit(X_train, y_train)
export_graphviz(tree, out_file='Organics_tree1.dot', 
               rounded = True, proportion = False, 
                precision = 2, filled = True)

(graph, ) = pydot.graph_from_dot_file('Organics_tree1.dot')
graph.write_png('Organics_tree1.png')

2.Выполните предыдущий пункт для разных значений глубины дерева и минимального числа объектов в листе (параметры max_depth и min_samples_leaf). Результаты запишите в виде таблицы.  Как эти параметры влияют на вид разделяющей поверхности и точность модели?

In [35]:
a = np.zeros((7, 7),dtype = float)
for depth in range(1, 8):
    for leaf in range(1, 8):
        tree=DecisionTreeClassifier(max_depth = depth, min_samples_leaf = leaf)
        tree.fit(X_train, y_train)
        a[depth-1,leaf-1] = tree.score(X_train, y_train)
data = pd.DataFrame(data = a, index = ["1", "2", "3", "4", "5", "6", "7"],
columns = ["1", "2", "3", "4", "5", "6", "7"])
data

          1         2         3         4         5         6         7
1  0.763692  0.763692  0.763692  0.763692  0.763692  0.763692  0.763692
2  0.794549  0.794549  0.794549  0.794549  0.794549  0.794549  0.794549
3  0.798470  0.798470  0.798470  0.798470  0.798470  0.798470  0.798470
4  0.803291  0.803291  0.803291  0.803291  0.803291  0.803291  0.803291
5  0.804898  0.804898  0.804898  0.804898  0.804898  0.804898  0.804641
6  0.808434  0.808370  0.808370  0.808305  0.808177  0.807920  0.807470
7  0.814155  0.813577  0.813320  0.813127  0.812805  0.813320  0.812420

3.Реализуйте бинарное кодирование категориальных признаков. Если у признака N возможных значений, то ему в соответствие ставится N бинарных признаков, каждый из которых соответствует одному значению исходного признака. На каждом объекте единице должен равняться строго один из них. Примените такое кодирование к столбцам c категориальными данными, добавьте результат к признакам. Удается ли с помощью новых признаков повысить качество классификации?

In [36]:
data_describe = df.describe(include=[object])
categorical_columns = [c for c in df.columns if df[c].dtype.name == 'object']
print(categorical_columns)

['DemClusterGroup', 'DemGender', 'DemReg', 'DemTVReg', 'PromClass']

In [38]:
df.describe(include=[object])

       DemClusterGroup DemGender      DemReg DemTVReg PromClass
count            21549     19711       21758    21758     22223
unique               7         3           5       13         4
top                  C         F  South East   London    Silver
freq              4566     12149        8634     6189      8572

In [40]:
from sklearn.preprocessing import LabelEncoder
def code_myohe(data, feature):
    for i in data[feature].unique():
        data[feature + "=" + i] = (data[feature] == i).astype(int)
        
le = LabelEncoder()
for c in categorical_columns:
    df[c] = df[c].astype(str)
    le.fit(df[c])
    df[df[c].name +'N'] = le.fit_transform(df[c])
    code_myohe(df, c)
df

,ID,DemAffl,DemAge,DemCluster,DemClusterGroup,DemGender,DemReg,DemTVReg,PromClass,PromSpend,...,DemTVReg=Ulster,DemTVReg=S West,DemTVReg=Yorkshire,DemTVReg=Border,DemTVReg=N Scot,PromClassN,PromClass=Gold,PromClass=Silver,PromClass=Tin,PromClass=Platinum
0,140,10.0,76.0,16.0,C,U,Midlands,Wales & West,Gold,16000.00,...,0,0,0,0,0,0,1,0,0,0
1,620,4.0,49.0,35.0,D,U,Midlands,Wales & West,Gold,6000.00,...,0,0,0,0,0,0,1,0,0,0
2,868,5.0,70.0,27.0,D,F,Midlands,Wales & West,Silver,0.02,...,0,0,0,0,0,2,0,1,0,0
3,1120,10.0,65.0,51.0,F,M,Midlands,Midlands,Tin,0.01,...,0,0,0,0,0,3,0,0,1,0
4,2313,11.0,68.0,4.0,A,F,Midlands,Midlands,Tin,0.01,...,0,0,0,0,0,3,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22218,52834058,13.0,65.0,9.0,B,F,South East,London,Silver,1500.00,...,0,0,0,0,0,2,0,1,0,0
22219,52834376,15.0,73.0,34.0,D,U,South East,S & S East,Gold,6053.06,...,0,0,0,0,0,0,1,0,0,0
22220,52837057,9.0,70.0,15.0,B,F,North,Yorkshire,Gold,6000.00,...,0,0,1,0,0,0,1,0,0,0
22221,52838096,11.0,66.0,8.0,B,F,North,N West,Silver,5000.00,...,0,0,0,0,0,2,0,1,0,0
22222,52856469,3.0,75.0,53.0,F,nan,South West,S West,Gold,6000.00,...,0,1,0,0,0,0,1,0,0,0